<body>
  <!-- new request modal -->
  <div class="new-request" [ngStyle]="{'display': this.isModalOpen ? 'block' : 'none'}">
    <div class="modal">
      <h2>Request a Tutorial</h2>
      <form>
        <input type="text" name="request" placeholder="Request...">
        <button>Submit Request</button>
        <p class="error"></p>
      </form>
    </div>
  </div>
  
  <header>
    <nav>
      <a class="add-request" (click)="openModal()">add request</a>
      <a class="sign-out">sign out</a>
    </nav>
  </header>
  
  <div class="close" (click)="closeModal()">
  <section class="content">
      <h1>Tutorial Requests</h1>
      <ul class="request-list">
        <li>
          <span class="text">Laravel 6 tutorial</span>
          <div>
            <span class="votes">125</span>
            <i class="material-icons upvote">arrow_upward</i>
          </div>
        </li>
      </ul>
    </section>
  </div>

</body>
<router-outlet />