/* Reset e estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: #333;
  line-height: 1.6;
}
app-header {
  width: 100%;
  min-height: max-content;
}

/* Conteúdo principal */
main {
  flex: 1;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

/* Rodapé */
app-footer {
  width: 100%;
  min-height: max-content;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .local-header-content h1 {
    font-size: 2rem;
  }

  .local-header-content p {
    font-size: 1rem;
  }

  main {
    margin: 1rem auto;
    padding: 0 0.5rem;
  }
}

@media (max-width: 480px) {
  .local-header-content {
    padding: 1.5rem 0.5rem;
  }

  .local-header-content h1 {
    font-size: 1.8rem;
  }

  .local-header-content p {
    font-size: 0.9rem;
  }
}
